:root[data-theme="light"] {
    --text: #0a0505;
    --background: #faf5f5;
    --primary: #a86767;
    --secondary: #add1cc;
    --accent: #8a8fbc;
}
:root[data-theme="dark"] {
    --text: #faf5f5;
    --background: #0a0505;
    --primary: #985757;
    --secondary: #2e524d;
    --accent: #434875;
}
  
/* Default */
* {
    background-color: var(--background);
    color: var(--text);
}

.inverted {
    background-color: var(--text);
    color: var(--background);
}

.bg-primary {
    background-color: var(--primary);
}